.right-bar {
    margin: 0;
    padding: 2rem 0;
    color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
  }

.right-bar *{
    font-size: 1.875rem;
}

.dues-container{
    position: relative;
    margin: 0 auto;
    width: 95%;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(1, 7, 56, 0.466);
    background-color: var(--secondary-bg);
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.header svg{
    width: 2.5rem;
    
}

.dues-main-container{
    position: absolute;
    width: 100%;
    height: 93%;
    border-radius: 20px;
    background-color: var(--bg-color);
}
.titlebar{
    padding: 1.5rem;
    display: flex;
}
.search {
    background-color: var(--text-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.search>svg {
    fill: grey;
    width: 2rem;
    
}

.search>input {
    border: none;
    font-size: 1.875rem;
    color: var(--bg-color);
}

.info-titlebar{
    margin-top: 80px;
    justify-content: center;
    display: flex;
}

.info-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: -200px;
    width: 1200px;
    justify-content: space-evenly;
    background-color: var(--text-bg);
    opacity: 90%;
    border-radius: 20px;
}

.info-list li{
    flex: 1;
    text-align: center;
    padding: 10px;
}

table{
    width: 95%;
    margin: 0 auto;
    padding: 0 2rem;
    border-collapse: collapse;
}

.table-header{
    background-color: var(--text-bg);
    
}

th,td{
    padding: 0.5rem 1.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    text-align: left;

}

th:last-child, td:last-child{
    text-align: right;
}

th:first-child{
    border-radius: 20px 0 0 0;
}

th:last-child{
    border-radius: 0 20px 0 0;
}

tr:hover{
    background-color: var(--text-bg);
    cursor: pointer;
}