/* Basic layout */
/* ############################## */

/* Background */
/* --------------- */
.bg {
  /* layout */
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);

  /* content layout */
  position: relative;
  z-index: 1;
}

.lower-bar {
  /* layout */
  height: 50vh;
  width: 100%;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.left-bar {
  /* layout */
  height: 100%;
  width: 7.5%;
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  z-index: 3;

  /* properties */
  border-radius: 0 0 3rem 0;
}

.right-bar {
  /* layout */
  height: 100%;
  width: 92.5%;
  background-color: var(--text-color);
  position: absolute;
  right: 0;
  z-index: 3;

  /* properties */
  border-radius: 3rem 0 0 0;
}

.right-bar.spec {
  padding: 2rem 0;
  height: 100vh;
}

.right-bar-content {
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

/* menu-content */
/* --------------- */
.menu-content-wrapper {
  padding: 2.5rem 0;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-content-wrapper>ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: relative;
}

.selector-bar {
  background-color: var(--secondary-bg);
  height: 4.5rem;
  width: 0.25rem;

  position: absolute;
  left: -1.125rem;
}

.menu-content-wrapper>ul>li {
  list-style-type: none;
}

.menu-content-wrapper>ul>li>a {
  text-decoration: none;
}

.logo {
  color: var(--secondary-bg);
}

h1 {
  font-weight: 400;
  font-size: 0.75rem;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.menu-btn>svg {
  color: var(--secondary-text);
}

.menu-btn>h1 {
  color: var(--secondary-text);
}

/* MENU FUNCTIONALITIES */
/* ############################## */

.menu-btn.selected-button {
  cursor: default;
  pointer-events: none;
}

.menu-btn.selected-button svg {
  color: var(--secondary-bg);
}

.menu-btn.selected-button .menu-btn-title {
  color: var(--secondary-bg);
}

/* Regular User */

ul:has(li > a[href="dashboard.html"].selected-button)>.selector-bar {
  top: -0.5rem;
}

ul:has(li > a[href="dues.html"].selected-button)>.selector-bar {
  top: 5rem;
}

ul:has(li > a[href="forum.html"].selected-button)>.selector-bar {
  top: 11.5rem;
}

ul:has(li > a[href="announcement.html"].selected-button)>.selector-bar {
  top: 17.9rem;
}

/* Admin */

ul:has(li > a[href="admin-userlist.html"].selected-button)>.selector-bar {
  top: -0.5rem;
}

ul:has(li > a[href="admin-dues.html"].selected-button)>.selector-bar {
  top: 5rem;
}

ul:has(li > a[href="admin-forum.html"].selected-button)>.selector-bar {
  top: 11.5rem;
}

ul:has(li > a[href="announcement-admin.html"].selected-button)>.selector-bar {
  top: 17.9rem;
}


/* basic tab */

.right-bar {
  padding: var(--content-spacing);
}

.content-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.card-content-wrapper {
  width: 100%;
  padding: 1rem;
}

.card-title-wrapper {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body-wrapper {
  padding: 1.5rem 1rem;
  height: 100%;
}

.card-title {
  color: var(--text-color);
  font-weight: 400;
}

.card-icon {
  height: 1.5rem;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
}

.card-content-container {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}