@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

:root {
  /* colors */
  --bg-color: #091828;
  --secondary-bg: #3684db;
  --text-color: white;
  --secondary-text: #808080;
  --debug: red;
  --text-bg: #12263c;
  --notice-bg: #31ac48;
  --event-bg: #3684db;
  --urgent-bg: #d93025;
  /* units */
  --content-spacing: 2rem;
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montagu Slab", sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 1.25rem;
}

h3 {
  font-weight: 400;
}