.right-bar {
    margin: 0;
    padding: 2rem 0;
    color: var(--dark-font);
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;

    overflow-y: hidden;
}

.right-bar * {
    font-size: 1.5rem;
}

.user-container {
    position: relative;
    margin: 0 auto;
    width: 95%;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(78, 78, 78);
    background-color: var(--secondary-bg);
}

.resident-column {
    left: 0;
    top: 0;
    z-index: 2;
}

.pendingrequest-column {
    opacity: 80%;
    left: 14rem;
    z-index: 1;
}

.column-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}


.tab-col {
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: var(--bg-color);
    padding: 1rem 3rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.resident-page {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    height: 93.5%;
    width: 100%;
    border-radius: 20px;
    background-color: var(--bg-color);
}

.resident-titlebar {
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: flex-end;
}

.search {
    background-color: var(--text-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.search>svg {
    fill: grey;
    width: 2rem;
}

.search>input {
    border: none;
    font-size: 1.5rem;
    color: var(--dark-font);
}

.btn-group {
    display: flex;
    gap: 2rem;
}

.btn-group.reqlist {
    display: none;
}

.btn-group.reqlist.active {
    display: flex;
}

.resident-titlebar:has(.btn-group.reqlist.active)>.btn-group.userlist {
    display: none;
}

.resident-titlebar:has(.btn-group.reqlist.active)>.search {
    display: none;
}

.resident-titlebar:has(.btn-group.reqlist.active) {
    display: flex;
    justify-content: flex-end;
}

.titlebar-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.titlebar-btn.red {
    background-color: var(--urgent-bg);
}
.titlebar-btn.red:hover{
    background-color: darkred;
    cursor: pointer;
}

.titlebar-btn.green {
    background-color: var(--notice-bg);
}

.titlebar-btn.green:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.titlebar-btn.green button:hover{
    cursor: pointer;
}

.titlebar-btn svg {
    width: 1.3rem;
}

.titlebar-btn button {
    color: var(--text-color);
    font-size: 1.5rem;
    background-color: inherit;
    border: none;
}

.titlebar-btn.red button:hover {
    cursor: pointer;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 2.5rem;
}

.table-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

table {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    border-collapse: collapse;
}

thead {
    color: var(--text-color);
    background-color: var(--secondary-bg);
    position: sticky;
    top: 0;
}

th,
td {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;

}

th:first-child {
    border-radius: 20px 0 0 0;
}

th:last-child {
    border-radius: 0 20px 0 0;
}

.table-data {
    cursor: pointer;
}

.table-data:hover {
    background-color: rgba(18, 38, 60, 0.3);
}

.checkmark-icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chkbox {
    width: 24px;
    height: 24px;
    background-color: var(--bg-color);
    border: 3px solid var(--dark-font);
    border-radius: 7.5px;
}

.chkbox.checked {
    background-color: var(--secondary-bg);
    border: none;
}

.table-data:has(td>.checkmark-icon>.chkbox.checked) {
    background-color: var(--secondary-text);
}

#state-request-column {
    display: none;
}

.pendingrequest-column.active {
    opacity: 100%;
    z-index: 2;
}

.user-container:has(.pendingrequest-column.active)>.resident-column {
    opacity: 80%;
    z-index: 1;
}