<template>
  <div class="item-ann-curr">
    <div class="item-ann-curr-left">
      <h3 id="date">Dec 99</h3>
    </div>
    <div class="item-ann-curr-right">
      <div class="item-ann-curr-bar item-ann-curr-bar-notice"></div>
      <div class="ann-item-content-wrapper">
        <div class="date-time">
          <svg class="date-time-icon" width="12" height="13" viewBox="0 0 12 13" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6 0C2.6916 0 0 2.9159 0 6.5C0 10.0841 2.6916 13 6 13C9.3084 13 12 10.0841 12 6.5C12 2.9159 9.3084 0 6 0ZM9.45 7.15H5.4V2.6H6.6V5.85H9.45V7.15Z"
              fill="white" />
          </svg>
          <p class="date-time-text">
            <span id="start-time">8:00 AM</span> to <span id="end-time">9:00 PM</span>
          </p>
        </div>
        <h4 class="ann-item-title">
          Some event happening right now!
        </h4>
        <h5 class="ann-item-subtitle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h5>
      </div>
    </div>
  </div>
</template>