<template>
    <div class="card" data-post-id="">
        <h3></h3>
        <p class="body"></p>
        <div class="search-react">
            <div class="react">
                <div class="post-data-icon-set" id="upvote">
                    👍
                    <div id="up-react"></div>
                </div>
                <div class="post-data-icon-set">
                    💬
                    <p class="comment_num"></p>
                </div>
            </div>
            <p class="time"></p>
        </div>
    </div>
</template>