<template>
    <div class="item-forum">
        <div class="item-forum-upper">
            <h3 class="item-forum-title">
                Post Title
            </h3>
            <h4 class="item-forum-subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
        </div>
        <div class="item-forum-stats">
            <div class="item-forum-upvote-comment-count">
                <div class="item-forum-ucc ucc-vote">
                    👍
                    <div class="item-forum-ucc-count ucc-upvote">5</div>
                </div>
                <div class="item-forum-ucc ucc-comment">
                    <div class="item-forum-ucc-count ucc-comment">💬 5</div>
                </div>
            </div>
            <p class="item-forum-recency">
                9 hours ago
            </p>
        </div>
    </div>
</template>